.notify{
    background-color: #2A2256;
    padding: 2%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    width: 100%;
    overflow-y: scroll;
}

.notify .date{
    font-weight: bold;
    padding: 2%;
}

.notify .code{
    color: #fff;
    padding: 2%;
}

.notify .message{
    color: #fff;
    font-size: .9rem;
    padding: 2%;
    justify-content: center;
    text-align: center;
}

.notify .status-notify{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #D60D00;
    margin: 2%;
}

.feedBox{
    height: 100%;
}