.notification{
    background-color: #F8F7F7;
    padding: 3%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    width: 93%;
    overflow-y: scroll;
    margin-bottom: 6%;
    box-shadow: 2px 5px 9px -7px black;
}

.notification .date{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #96b4f2;
}

.notification .code{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.notification .message{
    color: black;
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification .status-notify{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #D60D00;
    display: flex;
    align-items: center;
    justify-content: center;
}