.welcome{
    position: absolute;
    left: 15%;
    top: 5%;
    font-size: 1.5em;
    display: flex;
    width: 50%;
    cursor: default;
}

.welcome p{
    margin-left: 2%;
    font-weight: bold;
    align-self: center;
    font-size: 36px;
    color: #010A2C;
}

.background{
    position: absolute;
    left: 15%;
    top: 19%;
    width: 80%;
    height: 70vh;
    background-color: #E5E5F5;
    border-radius: 20px;
    align-items: center;
    display: flex;
    
}

.left{
    width: 43%;
    height: 100%;
    margin-left: 2%;
    background-color: #E5E5F5;
}



.chatBox {
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
    width: 100%;
    border-radius: 10px;
    padding: 12px;
    background-color: #fff;
    margin-bottom: 2%;
}

.chatBox h1{
    font-size: 12px;
    margin-bottom: 2% !important;
}

.chatBox p{
    margin-top: 0px !important;
    font-size: 12px !important;
}

.chatBox h4{
    color: #010A2C;
    display: flex;
    justify-content: flex-end;
}

.title p{
    font-size: 26px;
    font-weight: normal;
    margin-top: 6%;
    color: #010A2C;
}

.title span{
    font-weight: bold;
}

.title h1{
    margin-bottom: 8%;
}

.line-dotted{
    border: none;
    border-left: 1px dashed black;
    height: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.right{
    width: 40%;
    height: 100%;
}


.notify-screen::-webkit-scrollbar {
    width: 9px; 
  }
  

.notify-screen::-webkit-scrollbar-thumb {
    background-color: #b6b6b6; 
    border-radius: 20px;   
}

.box{
    height: 70%;
    width: 100%;
    padding-right: 7%;
    overflow-y: scroll;
    overflow-x: hidden;
}
