.cardTravel{
    background-color: #fff;
    padding: 12px;
    border-radius: 10px;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer;
    height: auto;
}

.cardTravel:hover{
    opacity: .7;
}

.cardTravel h3{
    font-size:1em;
    font-weight:bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.cardTravel h4{
    font-size:.9em;
    font-weight:100;
    margin-bottom: 2px;
    font-weight: 700;
}

.cardTravel h5{
    font-weight: 500;
}

.cardTravel .coust{
    font-weight:bold;
    text-align: center;
    text-transform: uppercase;
    color: #F55100;
}

::-webkit-scrollbar {
    height: .8vw;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #F55100;
    border-radius: 8px;
  }